@model IEnumerable<Sube1.HelloMVC.Models.Ogrenci>

@{
    ViewData["Title"] = "Öğrenciler";
}

<h1>Öğrenciler</h1>

<p>
    <a asp-action="AddOgrenci" class="btn btn-primary">Yeni Öğrenci</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numara)
            </th>
            <th>
                Dersler
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Soyad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numara)
                </td>
                <td>
                    @foreach (var ders in item.OgrenciDersler)
                    {
                        @ders.Ders.Dersad <br />
                    }
                </td>
                <td>
                    <a asp-action="EditStudent" asp-route-id="@item.Ogrenciid" class="btn btn-sm btn-primary">Düzenle</a> |
                    <a asp-action="DeleteStudent" asp-route-id="@item.Ogrenciid" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
